import(Biostrings)
import(GenomicRanges)
import(methods)
import(Rsamtools)

importClassesFrom(Biobase, ScalarCharacter)
importClassesFrom(BSgenome, BSgenome)
importClassesFrom(GenomicFeatures, TranscriptDb)
importClassesFrom(IRanges, FilterRules, Ranges)


importMethodsFrom(GenomicFeatures, cdsBy, exons, transcripts,
                  fiveUTRsByTranscript, threeUTRsByTranscript)
importMethodsFrom(IRanges, '%in%', append, as.vector, countOverlaps,
                  elementLengths, end, eval, findOverlaps, follow,
                  head, lapply, match, paste, precede, queryHits,
                  rbind, rev, Rle, runValue, sapply, shift, split,
                  start, "start<-", subjectHits, "subseq<-", substring,
                  unique, unlist, values, "values<-", width)


importFrom(GenomicFeatures, extractTranscriptsFromGenome)
importFrom(Biobase, mkScalar, selectSome)
importFrom(IRanges, CharacterList, DataFrame, FilterRules, IRanges,
           PartitioningByWidth, successiveViews)


exportClassPattern("^.*$")

exportMethods(
    predictCoding, getTranscriptSeqs,
    show, c)

export(
    locateVariants, 
    getTranscriptSeqs, globalToLocal,
    listCumsum, listCumsumShifted,
    readVcf)

exportPattern("^[^\\.]")
